html{
    background: url("http://3.bp.blogspot.com/-9MQK2j69N7k/Vb3a3jY7FWI/AAAAAAAACWQ/6hHewY4q-gs/s1600/Christians-Encounter-With-Apollyon.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: top;
}